h1 Todos

form(action="/todos/create" method="POST")
  input(type="text" name="text")
  button(type="submit") Create

form(action="/todos" method="get")
  input(type="text" name="q")
  button(type="submit") Search

ul
  each todo in todos
    li= todo.text